<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="true" />
</launch>

<!-- <launch>
  <machine 
    name="abLinux" 
    address= "172.16.2.78"
    user="abin"          
    default="never"          
  />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="true" />
</launch> -->