<!-- <launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="true" />
</launch> -->

<launch>
  <machine 
    name="slave_pc" 
    address="ablaptop"  
    user="abin"          
    default="never"          
  />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ego_planner)/launch/default.rviz" required="true" />
</launch>